.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 5px 10px 20px -12px rgba(0, 0, 0, 0.42), 2px 3px 20px 0px rgba(0, 0, 0, 0.12), 5px 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidenav .mat-toolbar {
  background: inherit;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
}
#div_logo img{
  height: 64px;
  left: 50%;
  margin-left: 42px;
}

#div_listamenu {

}
