<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav *ngIf="mostrarMenu" #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <div id="div_logo">
      <mat-toolbar ><img src="../../assets/img/Amis_logo.png" class="img_logo" alt=""></mat-toolbar>
    </div>
    <div id="div_listamenu">
      <mat-nav-list>
        <a *ngIf="!mostrarMenuMed" mat-list-item routerLink="/glicemia" routerLinkActive="active">Glicemia</a>
        <mat-divider *ngIf="!mostrarMenuMed"></mat-divider>
        <a *ngIf="!mostrarMenuMed" mat-list-item routerLink="/exportartabela" routerLinkActive="active">Exportar Tabela Glicemia</a>
        <mat-divider *ngIf="!mostrarMenuMed"></mat-divider>
        <a *ngIf="!mostrarMenuMed" mat-list-item routerLink="/refeicao" routerLinkActive="active">Refeição</a>
        <mat-divider *ngIf="!mostrarMenuMed"></mat-divider>
        <a *ngIf="!mostrarMenuMed" mat-list-item routerLink="/exportarrefeico" routerLinkActive="active">Exportar Tabela Refeição</a>
        <mat-divider *ngIf="!mostrarMenuMed"></mat-divider>
        <a *ngIf="mostrarMenuMed" mat-list-item routerLink="/vincular" routerLinkActive="active">Vincular</a>
        <mat-divider *ngIf="mostrarMenuMed"></mat-divider>
        <a *ngIf="mostrarMenuMed" mat-list-item routerLink="/glicemiaPaciente" routerLinkActive="active">Glicemia Paciente</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary" *ngIf="mostrarMenu">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Amis</span>
    </mat-toolbar>
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>